#logo{
    width: 125px;
    height: 92px;
    display: inline-block;
    margin: -6px auto 3px 15px;
}
body{
    font-family: Helvetica;
    background-color: #444;
    padding:0;
    margin:0;
}
#updateMon{
    float: right;
}
.navlink{
    display: inline-block;
    font-size: 20px;
    float: right;
    height: 20px;
    margin: 24px -14px auto 10px;
}
.navlink a{
    margin-right:20px;
    text-decoration:none;
    border: solid 1px black;
    border-radius: 3px;
    background-color: #5555ee;
    padding: 5px;
     transition: background 0.5s linear;
}

navlink a:hover{
    background-color:#2222aa;
}

nav{
    background-color: #eee;
    margin: 0;
    padding-right:10px;
    height: 70px;
}
a{
    color: white;
}
#charInfo#logo
    float: right;
    padding: 20px;
    border-radius: 2px;
    font-size: 20px;
    background-color: #659CEF;
    color: white;
    width: 300px;
}
#charInfo >*{
    margin: 5px;
}
.scoreLabel{
    display: inline;
}
.score{
    display: inline;
}
#canvas{
    float: left;
    border: solid 1px black;
}
.containTheseFools{
    width: 80%;
    margin: 50px auto;
}
#game{
    width: 400px;
    border-radius: 2px;
    float: left;
    clear: left;
}

#characters{
    float: right;
    width: 315px;
      margin-right: 20px;
}
.char >*{
    margin: 5px;
}
.char{
    padding: 20px;
    border-radius: 3px;
}
.mons{
    width: 330px;
    float: right;
}
.charScore{
    display: inline-block;
    width: 35px;
    text-align: center;
    
}
#error{
    color: #f00;
    width: 300px;
    margin: 10px auto 5px auto;
}
#loginForm, #signupForm{
    width: 300px;
    margin-left: auto;
    margin-top: 30px;
    margin-right: auto; 
}
form{
    background-color: #2222aa;
    overflow: auto;
}
form *{
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}
form input{
    margin-bottom: 12px;
}
form label{
    color: white;
}
#loginSubmit, #signupSubmit{
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
}
.char:nth-child(odd){
    background-color: #5555ee;
}
.char:nth-child(even){
    background-color: #2222aa;
    color: white;
}
.charName{
    margin-top: 0;
}
.charAge, .charHP{
    display: inline-block;
    margin: 0 15px 0 0;
}
#makeCharSubmit{
    float: right;
    margin-top:55px;
}
.charDesc{
    margin-bottom: 0;
    padding-bottom: 16px;
}
#charForm{
    float: left;
    width: 680px;
    height:400px;
    padding: 20px;
    border-radius: 3px;
}
